body {
    display: grid;
    text-align: center;
    justify-content: center;
    justify-items: center;

}

input{
    padding: 10px 0px 10px 15px;
    width: 100px;
    text-align: center;
    margin: 30px;
}
#userInput{
    
    border: 3px solid gray;
    border-radius: 8px;
    font-size: 35px;
    
}

#output{
    border:none;
    font-size: 45px;
}

button{
    text-align: center;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 8px;
    width: 60px;
    height: 60px;
    font-size: 35px;
}

#addBtn:hover{
    background-color: rgb(0, 98, 0);
    color: ghostwhite;
}

#minusBtn:hover{
    background-color: rgb(148, 0, 0);
    color:ghostwhite;
}
